div{
          margin:auto;
         width: 1000px;
         background-color: whitesmoke;
         padding: 40px;
         text-align: center;

}

h1{
          color: rgb(78, 138, 215);
          font-size: 50px;
}

p{
          font-size: 25px;
}
a{
          padding: 10px;
          background-color:#56a45a ;
        color: white;
        display: inline-block;
        margin-bottom: 20px;
        border-radius: 5px;
}

img{
          width: 200px;
          display: block;
          margin: auto;
          border-radius: 50%;
          object-fit: cover;
        
        
}